*{
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
nav {
  border-bottom: 0.5px solid rgb(232, 232, 232);
}
.website-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("website-logo.webp");
  background-size: cover;
  margin: 0 20px ;
}
.center {
display: flex;
justify-content: center;
align-items: center;
}
nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-size: 28px;
  padding: 0 100px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  width: 500px;
  height: 60px;
  list-style-type: none;
  padding: 0 40px;
}
.display-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
.our-blog {
  font-size: 40px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}


.svg_back {
  transform: rotateZ(-14deg);
}
.intro-section {
height: 250px;
width: 100%;
justify-content: start;
padding: 40px 0 0 0;
}
.heading-text {
  font-size: 40px;
  padding: 0 50px 0 200px;
  font-weight: 900;
  color:rgb(16, 53, 115);
  font-family: Arial, Helvetica, sans-serif;
}
.container_SevMini {
  padding: 0 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Ghost {
  transform: translate(0px, -25px);
  z-index: -1;
  animation: opacidad 4s infinite ease-in-out;
}

@keyframes opacidad {
0% {
  opacity: 1;
  scale: 1;
}

50% {
  opacity: 0.5;
  scale: 0.9;
}

100% {
  opacity: 1;
  scale: 1;
}
}

@keyframes estroboscopico {
0% {
  opacity: 1;
}

50% {
  opacity: 0;
}

51% {
  opacity: 1;
}

100% {
  opacity: 1;
}
}

@keyframes rebote {
0%,
100% {
  transform: translateY(0);
}

50% {
  transform: translateY(-10px);
}
}

@keyframes estroboscopico1 {
0%,
50%,
100% {
  fill: rgb(255, 95, 74);
}

25%,
75% {
  fill: rgb(16, 53, 115);
}
}

@keyframes estroboscopico2 {
0%,
50%,
100% {
  fill: #17e300;
}

25%,
75% {
  fill: #17e300b4;
}
}

.SevMini {
animation: rebote 4s infinite ease-in-out;
}

#strobe_led1 {
animation: estroboscopico 0.5s infinite;
}

#strobe_color1 {
animation: estroboscopico2 0.8s infinite;
}

#strobe_color3 {
animation: estroboscopico1 0.8s infinite;
animation-delay: 3s;
}

.mb-3 {
  padding:20px;
}
.coin {
  font-size: 200px;
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#faa504, #141001)
}
 
.coin .side, .coin:before, .coin:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1; 
  } 
.blogs-text {
  text-align: start;
  padding: 0 120px 40px 120px ;
}
.blogs-text h1 {
  margin: 0 0 20px 0;
}
.blogs-container {
  display: flex;
  place-content: center;
  gap: 30px 30px;
  flex-wrap: wrap;
}




#blogs {
  padding: 50px;
}
.blog-content-box {
  width: 318px;
  height: 350px;
  padding: 20px;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 1rem;
  overflow: hidden;
}
.blog-image {
  width: 100%;
  height: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnfzI7KdvAKGyLJa7KF4Ee5V4JjhVhcKkDWg&s");
  background-size: cover;
  border-radius: 1rem;
}
h2 {
  padding: 10px 0;
  font-size: 24px;
  margin: 0;
}
.blog-content-box p{
  font-size: 12px;
}









@media (max-width: 600px) {
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .website-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("website-logo.webp");
    background-size: cover;
  }
  .nav-logo {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    padding: 0 0;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
  }
  .container {
    width: 420px;
  }
  .heading-text {
    width: 50%;
    padding: 0 60px;
    font-size: 24px;
  }
  .heading-image {
    width: 50%;
    padding: 0 0 0 20px;
  }
  .container_SevMini {
    width: 50%;
    padding: 0 40px 0 -10px;
  }
  .blogs-text {
      text-align: start;
      padding: 40px;
  }

}

@media (max-width: 768px) {

  #blogs {
    padding-top: 0;
  }
  .heading-text {
    width: 50%;
    padding: 0 40px;
    font-size: 24px;
  }
  .container_SevMini {
    padding: 0 0 0 -140px;
  }
  .nav-logo {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
  }
  li {
    padding: 0 20px;
  }
  .container {
    width: 80%;
    margin: 0 10%;
  }
  .heading-text {
    width: 50%;
    padding: 0 40px;
    font-size: 22px;
  }
  .heading-image {
    width: 50%;
    padding: 0 0 0 10px;
  }
  .container_SevMini {
    width: 50%;
    padding: 0 20px 0 -10px;
  }
  .blogs-text {
    padding: 0 40px 0 40px;
  }
  .blog-content-box {
    width: 160px;
    height: 200px;
    padding: 10px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .blog-image {
    border-radius: 0.5rem;
  }
  h2 {
    margin: 0;
    padding: 4px 0;
    font-size: 16px;
  }
  .blog-content-box p {
    font-size: 12px;
  }

}


@media (max-width: 450px) {

  #blogs {
    display: flex;
    place-content: center;
    gap: 15px 15px;
    flex-wrap: wrap;
    padding: 50px;
  }
  .blog-content-box {
    width: 130px;
    height: 150px;
    padding: 10px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 0.25rem;
    overflow: hidden;
  }
  .blog-image {
    border-radius: 0.25rem;
  }
  h2 {
    padding: 2px 0;
    font-size: 8px;
  }
  .blogs-text {
    padding: 0 0 0 0;
  }

}


@media (max-width: 580px) {

  .nav-logo {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    padding: 0 0;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
  }

}


@media (max-width: 480px) {

  #blogs {
    padding-top: 0;
  }
  .blogs-text {
    padding: 0;
  }
  .display-flex {
    padding: 0;
  }
  .website-logo {
    width: 30px;
    height: 30px;
    margin: 0 8px 0 15px;
  }
  .nav-logo {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    padding: 0 0;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .blogs-text {
    padding: 0 40px 0 40px;
  }
  .heading-text {
    width: 50%;
    padding: 0 140px;
  }
  .heading-image {
    padding: 0 0 0 140px;
  }
  .container_SevMini {
    width: 50%;
    padding: 0 40px 0 -60px;
  }

}

@media (min-width: 1400px) and (max-width: 1800px) {

  .blogs-container {
    padding: 0 10%;
  }

}
